* {
  border-radius: 0;
  font-family: "CozetteVector";
  font-size: 13px;
}

/* colors etc */
tabbar tabbox {
  margin: 0;
  padding: 0;
  min-height: 8px;
  background-color: #191724;
}

tabbar tabbox tab {
  border-radius: 0;
  margin: 0;
  padding: 0;
  color: #6e6a86;
}

tabbar tabbox tab:selected {
  border-radius: 0;
  background-color: #ebbcba;
  color: #191724;
}

tabbar tabbox tab {
  min-width: 5px;
  background-color: #191724;
  color: #6e6a86;
}

tabbar tabbox tab label {
  font-family: "CozetteVector";
  font-size: 13px;
}

/* make it shorter */
tabbar tabbox * {
  min-height: 9px;
}

/* hack to hide the stupid gtk tab separators */
tabbar tabbox separator {
  min-width: 0;
  margin: 0;
}

tabbar tabbox * {
  margin-left: -6px;
}

tabbar tabbox tab * {
  margin-left: 0px;
}

tabbar {
  margin: 0px -6px;
}

/* hack to hide the close button */
tabbar tabbox button {
  opacity: 0;
  min-height: 0;
  min-width: 0;
  margin: 0;
  margin-right: -100px;
}

/* hide the bottom indicator lines on each tab */
tabbar tabbox,
tabbar tabbox tab {
  box-shadow: none;
  border-bottom: none;
  border: none;
}
